ogc-common/src/main/resources/csw/atom/enums/enum_bul.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_bul">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Координатни справочни системи"/>
			<xs:enumeration value="Географски координатни системи"/>
			<xs:enumeration value="Географски наименования"/>
			<xs:enumeration value="Административни единици"/>
			<xs:enumeration value="Адреси"/>
			<xs:enumeration value="Кадастрални парцели"/>
			<xs:enumeration value="Транспортни мрежи"/>
			<xs:enumeration value="Хидрография"/>
			<xs:enumeration value="Защитени обекти"/>
			<xs:enumeration value="Релеф"/>
			<xs:enumeration value="Земна покривка"/>
			<xs:enumeration value="Ортоизображение"/>
			<xs:enumeration value="Геология"/>
			<xs:enumeration value="Статистически единици"/>
			<xs:enumeration value="Сгради"/>
			<xs:enumeration value="Почва"/>
			<xs:enumeration value="Ползване на земята"/>
			<xs:enumeration value="Здраве и безопасност на човека"/>
			<xs:enumeration value="Комунално-битови и обществени услуги"/>
			<xs:enumeration value="Съоръжения за управление на околната среда"/>
			<xs:enumeration value="Производствени и промишлени съоръжения"/>
			<xs:enumeration value="Селскостопански и водностопански съоръжения"/>
			<xs:enumeration value="Разпределение на населението — демография"/>
			<xs:enumeration value="Управление на територията/ограничени/регулирани зони и отчетни единици"/>
			<xs:enumeration value="Природни рискови зони"/>
			<xs:enumeration value="Атмосферни условия"/>
			<xs:enumeration value="Метеорологични географски характеристики"/>
			<xs:enumeration value="Океанографски географски характеристики"/>
			<xs:enumeration value="Морски региони"/>
			<xs:enumeration value="Биогеографски региони"/>
			<xs:enumeration value="Местообитания и биотопи"/>
			<xs:enumeration value="Разпределение на видовете"/>
			<xs:enumeration value="Енергийни източници"/>
			<xs:enumeration value="Минерални ресурси"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_bul">
		<xs:restriction base="keywordValueInspireTheme_bul">
			<xs:enumeration value="Координатни справочни системи"/>
			<xs:enumeration value="Географски координатни системи"/>
			<xs:enumeration value="Географски наименования"/>
			<xs:enumeration value="Административни единици"/>
			<xs:enumeration value="Адреси"/>
			<xs:enumeration value="Кадастрални парцели"/>
			<xs:enumeration value="Транспортни мрежи"/>
			<xs:enumeration value="Хидрография"/>
			<xs:enumeration value="Защитени обекти"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_bul">
		<xs:restriction base="keywordValueInspireTheme_bul">
			<xs:enumeration value="Релеф"/>
			<xs:enumeration value="Земна покривка"/>
			<xs:enumeration value="Ортоизображение"/>
			<xs:enumeration value="Геология"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_bul">
		<xs:restriction base="keywordValueInspireTheme_bul">
			<xs:enumeration value="Статистически единици"/>
			<xs:enumeration value="Сгради"/>
			<xs:enumeration value="Почва"/>
			<xs:enumeration value="Ползване на земята"/>
			<xs:enumeration value="Здраве и безопасност на човека"/>
			<xs:enumeration value="Комунално-битови и обществени услуги"/>
			<xs:enumeration value="Съоръжения за управление на околната среда"/>
			<xs:enumeration value="Производствени и промишлени съоръжения"/>
			<xs:enumeration value="Селскостопански и водностопански съоръжения"/>
			<xs:enumeration value="Разпределение на населението — демография"/>
			<xs:enumeration value="Управление на територията/ограничени/регулирани зони и отчетни единици"/>
			<xs:enumeration value="Природни рискови зони"/>
			<xs:enumeration value="Атмосферни условия"/>
			<xs:enumeration value="Метеорологични географски характеристики"/>
			<xs:enumeration value="Океанографски географски характеристики"/>
			<xs:enumeration value="Морски региони"/>
			<xs:enumeration value="Биогеографски региони"/>
			<xs:enumeration value="Местообитания и биотопи"/>
			<xs:enumeration value="Разпределение на видовете"/>
			<xs:enumeration value="Енергийни източници"/>
			<xs:enumeration value="Минерални ресурси"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_bul">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes" minOccurs="1"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_bul"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_bul">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:BG:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_bul">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Директива 2007/2/EО на Европейския парламент и на Съвета от 14 март 2007 г. за създаване на инфраструктура за пространствена информация в Европейската общност (INSPIRE)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:BG:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_bul" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_bul">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:BG:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_bul">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Регламент (ЕО) № 1205/2008 на Комисията от 3 декември 2008 година за прилагане на Директива 2007/2/ЕО на Европейския парламент и на Съвета по отношение на метаданните (Текст от значение за ЕИП)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:BG:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_bul" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_bul">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:BG:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_bul">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Регламент (ЕО) № 976/2009 на Комисията от 19 октомври 2009 година за прилагане на Директива 2007/2/ЕО на Европейския парламент и на Съвета по отношение на мрежовите услуги"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:BG:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_bul" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_bul">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:BG:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_bul">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Регламент (ЕС) № 1089/2010 на Комисията от 23 ноември 2010 година за прилагане на Директива 2007/2/ЕО на Европейския парламент и на Съвета по отношение на оперативната съвместимост на масиви от пространствени данни и услуги за пространствени данни"/>
								<xs:enumeration value="РЕГЛАМЕНТ (ЕС) № 1089/2010 НА КОМИСИЯТА от 23 ноември 2010 година за прилагане на Директива 2007/2/ЕО на Европейския парламент и на Съвета по отношение на оперативната съвместимост на масиви от пространствени данни и услуги за пространствени данни"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:BG:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_bul" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
