ogc-common/src/main/resources/csw/atom/enums/enum_cze.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_cze">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Souřadnicové referenční systémy"/>
			<xs:enumeration value="Zeměpisné soustavy souřadnicových sítí"/>
			<xs:enumeration value="Zeměpisné názvy"/>
			<xs:enumeration value="Správní jednotky"/>
			<xs:enumeration value="Adresy"/>
			<xs:enumeration value="Katastrální parcely"/>
			<xs:enumeration value="Dopravní sítě"/>
			<xs:enumeration value="Vodopis"/>
			<xs:enumeration value="Chráněná území"/>
			<xs:enumeration value="Nadmořská výška"/>
			<xs:enumeration value="Krajinný pokryv"/>
			<xs:enumeration value="Ortofotosnímky"/>
			<xs:enumeration value="Geologie"/>
			<xs:enumeration value="Statistické jednotky"/>
			<xs:enumeration value="Budovy"/>
			<xs:enumeration value="Půda"/>
			<xs:enumeration value="Využití území"/>
			<xs:enumeration value="Lidské zdraví a bezpečnost"/>
			<xs:enumeration value="Veřejné služby a služby veřejné správy"/>
			<xs:enumeration value="Zařízení pro sledování životního prostředí"/>
			<xs:enumeration value="Výrobní a průmyslová zařízení"/>
			<xs:enumeration value="Zemědělská a akvakulturní zařízení"/>
			<xs:enumeration value="Rozložení obyvatelstva – demografie"/>
			<xs:enumeration value="Správní oblasti/chráněná pásma/regulovaná území a jednotky podávající hlášení"/>
			<xs:enumeration value="Oblasti ohrožené přírodními riziky"/>
			<xs:enumeration value="Stav ovzduší"/>
			<xs:enumeration value="Zeměpisné meteorologické prvky"/>
			<xs:enumeration value="Zeměpisné oceánografické prvky"/>
			<xs:enumeration value="Mořské oblasti"/>
			<xs:enumeration value="Bioregiony"/>
			<xs:enumeration value="Stanoviště a biotopy"/>
			<xs:enumeration value="Rozložení druhů"/>
			<xs:enumeration value="Energetické zdroje"/>
			<xs:enumeration value="Nerostné suroviny"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_cze">
		<xs:restriction base="keywordValueInspireTheme_cze">
			<xs:enumeration value="Souřadnicové referenční systémy"/>
			<xs:enumeration value="Zeměpisné soustavy souřadnicových sítí"/>
			<xs:enumeration value="Zeměpisné názvy"/>
			<xs:enumeration value="Správní jednotky"/>
			<xs:enumeration value="Adresy"/>
			<xs:enumeration value="Katastrální parcely"/>
			<xs:enumeration value="Dopravní sítě"/>
			<xs:enumeration value="Vodopis"/>
			<xs:enumeration value="Chráněná území"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_cze">
		<xs:restriction base="keywordValueInspireTheme_cze">
			<xs:enumeration value="Nadmořská výška"/>
			<xs:enumeration value="Krajinný pokryv"/>
			<xs:enumeration value="Ortofotosnímky"/>
			<xs:enumeration value="Geologie"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_cze">
		<xs:restriction base="keywordValueInspireTheme_cze">
			<xs:enumeration value="Statistické jednotky"/>
			<xs:enumeration value="Budovy"/>
			<xs:enumeration value="Půda"/>
			<xs:enumeration value="Využití území"/>
			<xs:enumeration value="Lidské zdraví a bezpečnost"/>
			<xs:enumeration value="Veřejné služby a služby veřejné správy"/>
			<xs:enumeration value="Zařízení pro sledování životního prostředí"/>
			<xs:enumeration value="Výrobní a průmyslová zařízení"/>
			<xs:enumeration value="Zemědělská a akvakulturní zařízení"/>
			<xs:enumeration value="Rozložení obyvatelstva – demografie"/>
			<xs:enumeration value="Správní oblasti/chráněná pásma/regulovaná území a jednotky podávající hlášení"/>
			<xs:enumeration value="Oblasti ohrožené přírodními riziky"/>
			<xs:enumeration value="Stav ovzduší"/>
			<xs:enumeration value="Zeměpisné meteorologické prvky"/>
			<xs:enumeration value="Zeměpisné oceánografické prvky"/>
			<xs:enumeration value="Mořské oblasti"/>
			<xs:enumeration value="Bioregiony"/>
			<xs:enumeration value="Stanoviště a biotopy"/>
			<xs:enumeration value="Rozložení druhů"/>
			<xs:enumeration value="Energetické zdroje"/>
			<xs:enumeration value="Nerostné suroviny"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_cze">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes" minOccurs="1"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_cze"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_cze">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:CS:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_cze">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Směrnice Evropského parlamentu a Rady 2007/2/ES ze dne 14. března 2007 o zřízení Infrastruktury pro prostorové informace v Evropském společenství (INSPIRE)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:CS:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_cze" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_cze">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:CS:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_cze">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Nařízení Komise (ES) č. 1205/2008 ze dne 3. prosince 2008 , kterým se provádí směrnice Evropského parlamentu a Rady 2007/2/ES týkající se metadat (Text s významem pro EHP)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:CS:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_cze" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_cze">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:CS:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_cze">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Nařízení Komise (ES) č. 976/2009 ze dne 19. října 2009 , kterým se provádí směrnice Evropského parlamentu a Rady 2007/2/ES, pokud jde o síťové služby"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:CS:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_cze" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_cze">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:CS:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_cze">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Nařízení Komise (EU) č. 1089/2010 ze dne 23. listopadu 2010 , kterým se provádí směrnice Evropského parlamentu a Rady 2007/2/ES, pokud jde o interoperabilitu sad prostorových dat a služeb prostorových dat"/>
								<xs:enumeration value="NAŘÍZENÍ KOMISE (EU) č. 1089/2010 ze dne 23. listopadu 2010, kterým se provádí směrnice Evropského parlamentu a Rady 2007/2/ES, pokud jde o interoperabilitu sad prostorových dat a služeb prostorových dat"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:CS:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_cze" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
