ogc-common/src/main/resources/csw/atom/enums/enum_dan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_dan">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Koordinatsystemer"/>
			<xs:enumeration value="Geografiske kvadratnetsystemer"/>
			<xs:enumeration value="Stednavne"/>
			<xs:enumeration value="Administrative enheder"/>
			<xs:enumeration value="Adresser"/>
			<xs:enumeration value="Matrikulære parceller"/>
			<xs:enumeration value="Transportnet"/>
			<xs:enumeration value="Hydrograf"/>
			<xs:enumeration value="Beskyttede lokaliteter"/>
			<xs:enumeration value="Højde"/>
			<xs:enumeration value="Arealdække"/>
			<xs:enumeration value="Ortofoto"/>
			<xs:enumeration value="Geologi"/>
			<xs:enumeration value="Statistiske enheder"/>
			<xs:enumeration value="Bygninger"/>
			<xs:enumeration value="Jord"/>
			<xs:enumeration value="Arealanvendelse"/>
			<xs:enumeration value="Sikkerhed"/>
			<xs:enumeration value="Offentlig forsyningsvirksomhed og offentlige tjenesteydelser"/>
			<xs:enumeration value="Miljøovervågningsfaciliteter"/>
			<xs:enumeration value="Produktions- og industrifaciliteter"/>
			<xs:enumeration value="Landbrugs- og akvakulturanlæg"/>
			<xs:enumeration value="Befolkningsfordeling — demografi"/>
			<xs:enumeration value="Forvaltede og regulerede områder samt områder med brugsbegrænsning og indberetningsenheder"/>
			<xs:enumeration value="Områder med naturlige risici"/>
			<xs:enumeration value="Atmosfæriske forhold"/>
			<xs:enumeration value="Meteorologisk-geografiske forhold"/>
			<xs:enumeration value="Oceanografiske/geografiske forhold"/>
			<xs:enumeration value="Havområder"/>
			<xs:enumeration value="Biogeografiske regioner"/>
			<xs:enumeration value="Levesteder og biotoper"/>
			<xs:enumeration value="Artsfordeling"/>
			<xs:enumeration value="Energiressourcer"/>
			<xs:enumeration value="Mineralressourcer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_dan">
		<xs:restriction base="keywordValueInspireTheme_dan">
			<xs:enumeration value="Koordinatsystemer"/>
			<xs:enumeration value="Geografiske kvadratnetsystemer"/>
			<xs:enumeration value="Stednavne"/>
			<xs:enumeration value="Administrative enheder"/>
			<xs:enumeration value="Adresser"/>
			<xs:enumeration value="Matrikulære parceller"/>
			<xs:enumeration value="Transportnet"/>
			<xs:enumeration value="Hydrograf"/>
			<xs:enumeration value="Beskyttede lokaliteter"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_dan">
		<xs:restriction base="keywordValueInspireTheme_dan">
			<xs:enumeration value="Højde"/>
			<xs:enumeration value="Arealdække"/>
			<xs:enumeration value="Ortofoto"/>
			<xs:enumeration value="Geologi"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_dan">
		<xs:restriction base="keywordValueInspireTheme_dan">
			<xs:enumeration value="Statistiske enheder"/>
			<xs:enumeration value="Bygninger"/>
			<xs:enumeration value="Jord"/>
			<xs:enumeration value="Arealanvendelse"/>
			<xs:enumeration value="Sikkerhed"/>
			<xs:enumeration value="Offentlig forsyningsvirksomhed og offentlige tjenesteydelser"/>
			<xs:enumeration value="Miljøovervågningsfaciliteter"/>
			<xs:enumeration value="Produktions- og industrifaciliteter"/>
			<xs:enumeration value="Landbrugs- og akvakulturanlæg"/>
			<xs:enumeration value="Befolkningsfordeling — demografi"/>
			<xs:enumeration value="Forvaltede og regulerede områder samt områder med brugsbegrænsning og indberetningsenheder"/>
			<xs:enumeration value="Områder med naturlige risici"/>
			<xs:enumeration value="Atmosfæriske forhold"/>
			<xs:enumeration value="Meteorologisk-geografiske forhold"/>
			<xs:enumeration value="Oceanografiske/geografiske forhold"/>
			<xs:enumeration value="Havområder"/>
			<xs:enumeration value="Biogeografiske regioner"/>
			<xs:enumeration value="Levesteder og biotoper"/>
			<xs:enumeration value="Artsfordeling"/>
			<xs:enumeration value="Energiressourcer"/>
			<xs:enumeration value="Mineralressourcer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_dan">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes" minOccurs="1"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_dan"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_dan">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:DA:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_dan">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Europa-Parlamentets og Rådets direktiv 2007/2/EF af 14. marts 2007 om opbygning af en infrastruktur for geografisk information i Det Europæiske Fællesskab (Inspire)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:DA:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_dan" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_dan">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:DA:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_dan">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Kommissionens forordning (EF) nr. 1205/2008 af 3. december 2008 om gennemførelse af Europa-Parlamentets og Rådets direktiv 2007/2/EF med hensyn til metadata (EØS-relevant tekst)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:DA:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_dan" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_dan">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:DA:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_dan">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Kommissionens forordning (EF) nr. 976/2009 af 19. oktober 2009 om gennemførelse af Europa-Parlamentets og Rådets direktiv 2007/2/EF for så vidt angår nettjenesterne"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:DA:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_dan" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_dan">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:DA:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_dan">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Kommissionens forordning (EU) n r. 1089/2010 af 23. november 2010 om gennemførelse af Europa-Parlamentets og Rådets direktiv 2007/2/EF for så vidt angår interoperabilitet for geodatasæt og -tjenester"/>
								<xs:enumeration value="KOMMISSIONENS FORORDNING (EU) Nr. 1089/2010 af 23. november 2010 om gennemførelse af Europa-Parlamentets og Rådets direktiv 2007/2/EF for så vidt angår interoperabilitet for geodatasæt og -tjenester"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:DA:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_dan" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
