ogc-common/src/main/resources/csw/atom/enums/enum_ice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_ice">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Coordinate reference systems"/>
			<xs:enumeration value="Geographical grid systems"/>
			<xs:enumeration value="Geographical names"/>
			<xs:enumeration value="Administrative units"/>
			<xs:enumeration value="Addresses"/>
			<xs:enumeration value="Cadastral parcels"/>
			<xs:enumeration value="Transport networks"/>
			<xs:enumeration value="Hydrography"/>
			<xs:enumeration value="Protected sites"/>
			<xs:enumeration value="Elevation"/>
			<xs:enumeration value="Land cover"/>
			<xs:enumeration value="Orthoimagery"/>
			<xs:enumeration value="Geology"/>
			<xs:enumeration value="Statistical units"/>
			<xs:enumeration value="Buildings"/>
			<xs:enumeration value="Soil"/>
			<xs:enumeration value="Land use"/>
			<xs:enumeration value="Human health and safety"/>
			<xs:enumeration value="Utility and governmental services"/>
			<xs:enumeration value="Environmental monitoring facilities"/>
			<xs:enumeration value="Production and industrial facilities"/>
			<xs:enumeration value="Agricultural and aquaculture facilities"/>
			<xs:enumeration value="Population distribution — demography"/>
			<xs:enumeration value="Area management/restriction/regulation zones and reporting units"/>
			<xs:enumeration value="Natural risk zones"/>
			<xs:enumeration value="Atmospheric conditions"/>
			<xs:enumeration value="Meteorological geographical features"/>
			<xs:enumeration value="Oceanographic geographical features"/>
			<xs:enumeration value="Sea regions"/>
			<xs:enumeration value="Bio-geographical regions"/>
			<xs:enumeration value="Habitats and biotopes"/>
			<xs:enumeration value="Species distribution"/>
			<xs:enumeration value="Energy resources"/>
			<xs:enumeration value="Mineral resources"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_ice">
		<xs:restriction base="keywordValueInspireTheme_ice">
			<xs:enumeration value="Coordinate reference systems"/>
			<xs:enumeration value="Geographical grid systems"/>
			<xs:enumeration value="Geographical names"/>
			<xs:enumeration value="Administrative units"/>
			<xs:enumeration value="Addresses"/>
			<xs:enumeration value="Cadastral parcels"/>
			<xs:enumeration value="Transport networks"/>
			<xs:enumeration value="Hydrography"/>
			<xs:enumeration value="Protected sites"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_ice">
		<xs:restriction base="keywordValueInspireTheme_ice">
			<xs:enumeration value="Elevation"/>
			<xs:enumeration value="Land cover"/>
			<xs:enumeration value="Orthoimagery"/>
			<xs:enumeration value="Geology"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_ice">
		<xs:restriction base="keywordValueInspireTheme_ice">
			<xs:enumeration value="Statistical units"/>
			<xs:enumeration value="Buildings"/>
			<xs:enumeration value="Soil"/>
			<xs:enumeration value="Land use"/>
			<xs:enumeration value="Human health and safety"/>
			<xs:enumeration value="Utility and governmental services"/>
			<xs:enumeration value="Environmental monitoring facilities"/>
			<xs:enumeration value="Production and industrial facilities"/>
			<xs:enumeration value="Agricultural and aquaculture facilities"/>
			<xs:enumeration value="Population distribution — demography"/>
			<xs:enumeration value="Area management/restriction/regulation zones and reporting units"/>
			<xs:enumeration value="Natural risk zones"/>
			<xs:enumeration value="Atmospheric conditions"/>
			<xs:enumeration value="Meteorological geographical features"/>
			<xs:enumeration value="Oceanographic geographical features"/>
			<xs:enumeration value="Sea regions"/>
			<xs:enumeration value="Bio-geographical regions"/>
			<xs:enumeration value="Habitats and biotopes"/>
			<xs:enumeration value="Species distribution"/>
			<xs:enumeration value="Energy resources"/>
			<xs:enumeration value="Mineral resources"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_ice">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes" minOccurs="1"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_ice"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:EN:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocGEMETInspireThemes_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://www.eionet.europa.eu/gemet/inspire_themes?langcode=en"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationGEMETInspireThemes_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="GEMET - INSPIRE themes"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-06-01"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="0" maxOccurs="0"/>
					<xs:element name="ResourceLocator" type="resLocGEMETInspireThemes_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationINSPDirective_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Directive 2007/2/EC of the European Parliament and of the Council of 14 March 2007 establishing an Infrastructure for Spatial Information in the European Community (INSPIRE)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:EN:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:EN:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationINSPMDRegulation_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Commission Regulation (EC) No 1205/2008 of 3 December 2008 implementing Directive 2007/2/EC of the European Parliament and of the Council as regards metadata"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:EN:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:EN:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationINSPNSRegulation_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Commission Regulation (EC) No 976/2009 of 19 October 2009 implementing Directive 2007/2/EC of the European Parliament and of the Council as regards the Network Services"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:EN:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:EN:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_ice">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Commission Regulation (EU) No 1089/2010 of 23 November 2010 implementing Directive 2007/2/EC of the European Parliament and of the Council as regards interoperability of spatial data sets and services"/>
								<xs:enumeration value="COMMISSION REGULATION (EU) No 1089/2010 of 23 November 2010 implementing Directive 2007/2/EC of the European Parliament and of the Council as regards interoperability of spatial data sets and services"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:EN:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocISO19139GMD2006_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/iso/19139/20060504/gmd/gmd.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationISO19139GMD2006_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="19139 XSchemas TS RC (2006 May 4)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2006-05-04"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/iso/19139/20060504/"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocISO19139GMD2006_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocISO19139GMD2007_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationISO19139GMD2007_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="ISO/TS 19139 Schemas (2007 April 17)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-17"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/iso/19139/20070417/"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocISO19139GMD2007_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocISO19139SRV2006_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/iso/19139/20060504/srv/srv.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationISO19139SRV2006_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="19139 XSchemas TS RC (2006 May 4)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2006-05-04"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/iso/19139/20060504/"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocISO19139SRV2006_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocISO19139SRV2007_EDEN_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eden.ign.fr/xsd/isotc211/isofull/20090316/srv/srv.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationISO19139SRV2006_EDEN_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="19139 XSchemas TS RC (2006 May 4)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-03-02"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eden.ign.fr/xsd/isotc211/isofull/20090316/"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocISO19139SRV2007_EDEN_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocOGCCSW202_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/csw/2.0.2/CSW-discovery.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationOGCCSW202_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="OpenGIS Catalogue Service Implementation Standard 2.0.2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/csw/2.0.2/CSW-discovery.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocOGCCSW202_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocOGCWMS130_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/wms/1.3.0/capabilities_1_3_0.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationOGCWMS130_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="OpenGIS(r) Web Map Service Implementation Standard (WMS)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2005-11-22"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/wms/1.3.0/capabilities_1_3_0.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocOGCWMS130_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--WMTS 1.0.0-->
	<xs:complexType name="resLocOGCWMTS100_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/wmts/1.0/wmtsGetCapabilities_response.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationOGCWMTS100_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Web Map Tile Service (WMTS) interface standard (OGC 07-057r7)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-05-05"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/wmts/1.0/wmtsGetCapabilities_response.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocOGCWMTS100_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--WMS 1.1.1-->
	<xs:complexType name="resLocOGCWMS111_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/wms/1.1.1/WMS_MS_Capabilities.dtd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationOGCWMS111_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="OpenGIS(r) Web Map Service Implementation Standard (WMS)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2002-01-16"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://portal.opengeospatial.org/files/?artifact_id=1081&amp;version=1&amp;format=pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocOGCWMS111_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--WFS 2.0.0-->
	<xs:complexType name="resLocOGCWFS200_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/wfs/2.0/wfs.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationOGCWFS200_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="OpenGIS Web Feature Service 2.0 Interface Standard"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-11-02"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://schemas.opengis.net/wfs/2.0/wfs.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocOGCWMS130_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocINSPIREDLS_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.ec.europa.eu/schemas/inspire_dls/1.0/inspire_dls.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationINSPIREDLS_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="INSPIRE Download Service for WFS 2.0.0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2012-04-30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.ec.europa.eu/schemas/inspire_dls/1.0/inspire_dls.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocINSPIREDLS_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocINSPIREVS_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.ec.europa.eu/schemas/inspire_vs/1.0/inspire_vs.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationINSPIREVS_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="INSPIRE View Service for WMS 1.3.0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2011-03-18"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.ec.europa.eu/schemas/inspire_vs/1.0/inspire_vs.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocINSPIREVS_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocINSPIREVSOWS11_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.ec.europa.eu/schemas/inspire_vs_ows11/1.0/inspire_vs_ows_11.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationINSPIREVSOWS11_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="INSPIRE View Service for OWS 1.1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2011-03-18"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.ec.europa.eu/schemas/inspire_vs_ows11/1.0/inspire_vs_ows_11.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocINSPIREVSOWS11_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocINSPIREDS_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.ec.europa.eu/schemas/inspire_ds/1.0/inspire_ds.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/xml"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationINSPIREDS_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="INSPIRE Discovery Service for CSW 2.0.2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2011-03-18"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.ec.europa.eu/schemas/inspire_ds/1.0/inspire_ds.xsd"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocINSPIREDS_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocTGMD1.2_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.jrc.ec.europa.eu/documents/Metadata/INSPIRE_MD_IR_and_ISO_v1_2_20100616.pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationMDTG1.2_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="INSPIRE Metadata Implementing Rules: Technical Guidelines based on EN ISO 19115 and EN ISO 19119 (Version 1.2)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfLastRevision">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-06-16"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="INSMDTG3.0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocTGMD1.2_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocDSTG3.0_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.jrc.ec.europa.eu/documents/Network_Services/TechnicalGuidance_DiscoveryServices_v3.0.pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationDSTG3.0_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Technical Guidance for the implementation of INSPIRE Discovery Services (Version 3.0)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfLastRevision">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2011-03-30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.jrc.ec.europa.eu/documents/Network_Services/TechnicalGuidance_DiscoveryServices_v3.0.pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocDSTG3.0_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocVSTG3.0_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.jrc.ec.europa.eu/documents/Network_Services/TechnicalGuidance_ViewServices_v3.0.pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationVSTG3.0_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Technical Guidance for the implementation of INSPIRE View Services (Version 3.0)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfLastRevision">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2011-03-30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.jrc.ec.europa.eu/documents/Network_Services/TechnicalGuidance_ViewServices_v3.0.pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocVSTG3.0_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocDLSTG3.0_ice">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.jrc.ec.europa.eu/documents/Network_Services/TechnicalGuidance_DownloadServices_v3.0.pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationDLSTG3.0_ice">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Technical Guidance for the implementation of INSPIRE Download Services (Version 3.0)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfLastRevision">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2012-06-12"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://inspire.jrc.ec.europa.eu/documents/Network_Services/Technical_Guidance_Download_Services_3.0.pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocDLSTG3.0_ice" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
