ogc-common/src/main/resources/csw/atom/enums/enum_ita.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_ita">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Sistemi di coordinate"/>
			<xs:enumeration value="Sistemi di griglie geografiche"/>
			<xs:enumeration value="Nomi geografici"/>
			<xs:enumeration value="Unità amministrative"/>
			<xs:enumeration value="Indirizzi"/>
			<xs:enumeration value="Parcelle catastali"/>
			<xs:enumeration value="Reti di trasporto"/>
			<xs:enumeration value="Idrografia"/>
			<xs:enumeration value="Siti protetti"/>
			<xs:enumeration value="Elevazione"/>
			<xs:enumeration value="Copertura del suolo"/>
			<xs:enumeration value="Orto immagini"/>
			<xs:enumeration value="Geologia"/>
			<xs:enumeration value="Unità statistiche"/>
			<xs:enumeration value="Edifici"/>
			<xs:enumeration value="Suolo"/>
			<xs:enumeration value="Utilizzo del territorio"/>
			<xs:enumeration value="Salute umana e sicurezza"/>
			<xs:enumeration value="Servizi di pubblica utilità e servizi amministrativi"/>
			<xs:enumeration value="Impianti di monitoraggio ambientale"/>
			<xs:enumeration value="Produzione e impianti industriali"/>
			<xs:enumeration value="Impianti agricoli e di acquacoltura"/>
			<xs:enumeration value="Distribuzione della popolazione — demografia"/>
			<xs:enumeration value="Zone sottoposte a gestione/limitazioni/regolamentazione e unità con obbligo di comunicare dati"/>
			<xs:enumeration value="Zone a rischio naturale"/>
			<xs:enumeration value="Condizioni atmosferiche"/>
			<xs:enumeration value="Elementi geografici meteorologici"/>
			<xs:enumeration value="Elementi geografici oceanografici"/>
			<xs:enumeration value="Regioni marine"/>
			<xs:enumeration value="Regioni biogeografiche"/>
			<xs:enumeration value="Habitat e biotopi"/>
			<xs:enumeration value="Distribuzione delle specie"/>
			<xs:enumeration value="Risorse energetiche"/>
			<xs:enumeration value="Risorse minerarie"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_ita">
		<xs:restriction base="keywordValueInspireTheme_ita">
			<xs:enumeration value="Sistemi di coordinate"/>
			<xs:enumeration value="Sistemi di griglie geografiche"/>
			<xs:enumeration value="Nomi geografici"/>
			<xs:enumeration value="Unità amministrative"/>
			<xs:enumeration value="Indirizzi"/>
			<xs:enumeration value="Parcelle catastali"/>
			<xs:enumeration value="Reti di trasporto"/>
			<xs:enumeration value="Idrografia"/>
			<xs:enumeration value="Siti protetti"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_ita">
		<xs:restriction base="keywordValueInspireTheme_ita">
			<xs:enumeration value="Elevazione"/>
			<xs:enumeration value="Copertura del suolo"/>
			<xs:enumeration value="Orto immagini"/>
			<xs:enumeration value="Geologia"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_ita">
		<xs:restriction base="keywordValueInspireTheme_ita">
			<xs:enumeration value="Unità statistiche"/>
			<xs:enumeration value="Edifici"/>
			<xs:enumeration value="Suolo"/>
			<xs:enumeration value="Utilizzo del territorio"/>
			<xs:enumeration value="Salute umana e sicurezza"/>
			<xs:enumeration value="Servizi di pubblica utilità e servizi amministrativi"/>
			<xs:enumeration value="Impianti di monitoraggio ambientale"/>
			<xs:enumeration value="Produzione e impianti industriali"/>
			<xs:enumeration value="Impianti agricoli e di acquacoltura"/>
			<xs:enumeration value="Distribuzione della popolazione — demografia"/>
			<xs:enumeration value="Zone sottoposte a gestione/limitazioni/regolamentazione e unità con obbligo di comunicare dati"/>
			<xs:enumeration value="Zone a rischio naturale"/>
			<xs:enumeration value="Condizioni atmosferiche"/>
			<xs:enumeration value="Elementi geografici meteorologici"/>
			<xs:enumeration value="Elementi geografici oceanografici"/>
			<xs:enumeration value="Regioni marine"/>
			<xs:enumeration value="Regioni biogeografiche"/>
			<xs:enumeration value="Habitat e biotopi"/>
			<xs:enumeration value="Distribuzione delle specie"/>
			<xs:enumeration value="Risorse energetiche"/>
			<xs:enumeration value="Risorse minerarie"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_ita">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_ita"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_ita">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:IT:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_ita">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Direttiva 2007/2/CE del Parlamento europeo e del Consiglio, del 14 marzo 2007, che istituisce un'Infrastruttura per l'informazione territoriale nella Comunità europea (Inspire)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:IT:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_ita" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_ita">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:IT:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_ita">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Regolamento (CE) n. 1205/2008 della Commissione, del 3 dicembre 2008 , recante attuazione della direttiva 2007/2/CE del Parlamento europeo e del Consiglio per quanto riguarda i metadati (Testo rilevante ai fini del SEE)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:IT:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_ita" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_ita">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:IT:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_ita">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Regolamento (CE) n. 976/2009 della Commissione, del 19 ottobre 2009 , recante attuazione della direttiva 2007/2/CE del Parlamento europeo e del Consiglio per quanto riguarda i servizi di rete"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:IT:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_ita" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_ita">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:IT:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_ita">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Regolamento (UE) n . 1089/2010 della Commissione del 23 novembre 2010 recante attuazione della direttiva 2007/2/CE del Parlamento europeo e del Consiglio per quanto riguarda l'interoperabilità dei set di dati territoriali e dei servizi di dati territoriali"/>
								<xs:enumeration value="REGOLAMENTO (UE) N. 1089/2010 DELLA COMMISSIONE del 23 novembre 2010 recante attuazione della direttiva 2007/2/CE del Parlamento europeo e del Consiglio per quanto riguarda l'interoperabilità dei set di dati territoriali e dei servizi di dati territoriali"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:IT:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_ita" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
