ogc-common/src/main/resources/csw/atom/enums/enum_mlt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_mlt">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Sistemi ta' referenza ta' koordinati"/>
			<xs:enumeration value="Sistemi ta' grilji ġeografiċi"/>
			<xs:enumeration value="Ismijiet ġeografiċi"/>
			<xs:enumeration value="Unitajiet amministrattivi"/>
			<xs:enumeration value="Indirizzi"/>
			<xs:enumeration value="Pakketti katastali"/>
			<xs:enumeration value="Networks tat-trasport"/>
			<xs:enumeration value="Idrografija"/>
			<xs:enumeration value="Siti protetti"/>
			<xs:enumeration value="Elevazzjoni"/>
			<xs:enumeration value="Kopertura ta' l-art"/>
			<xs:enumeration value="Orthoimagery"/>
			<xs:enumeration value="Ġeologija"/>
			<xs:enumeration value="Unitajiet statistiċi"/>
			<xs:enumeration value="Bini"/>
			<xs:enumeration value="Ħamrija"/>
			<xs:enumeration value="Użu ta' l-art"/>
			<xs:enumeration value="Is-saħħa u s-siġurtà tal-bniedem"/>
			<xs:enumeration value="Servizzi ta' utilità u tal-gvern"/>
			<xs:enumeration value="Faċilitajiet ta' monitoraġġ ambjentali"/>
			<xs:enumeration value="Faċilitajiet ta' produzzjoni u industrijali"/>
			<xs:enumeration value="Faċilitajiet agrikoli u ta' l-akwakultura"/>
			<xs:enumeration value="Distribuzzjoni tal-popolazzjoni – demografija"/>
			<xs:enumeration value="Amministrazzjoni ta' żoni/restrizzjoni/żoni regolati u unitajiet ta' rapportar"/>
			<xs:enumeration value="Żoni ta' riskju naturali"/>
			<xs:enumeration value="Kondizzjonijiet atmosferiċi"/>
			<xs:enumeration value="Karatteristiċi ġeografiċi meteoroloġiċi"/>
			<xs:enumeration value="Karatteristiċi ġeografiċi oċeanografiċi"/>
			<xs:enumeration value="Reġjuni tal-baħar"/>
			<xs:enumeration value="Reġjuni bijo-ġeografiċi"/>
			<xs:enumeration value="L-abitati naturali u l-bijotopi"/>
			<xs:enumeration value="Distribuzzjoni ta' l-ispeċi"/>
			<xs:enumeration value="Riżorsi ta' enerġija"/>
			<xs:enumeration value="Riżorsi minerali"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_mlt">
		<xs:restriction base="keywordValueInspireTheme_mlt">
			<xs:enumeration value="Sistemi ta' referenza ta' koordinati"/>
			<xs:enumeration value="Sistemi ta' grilji ġeografiċi"/>
			<xs:enumeration value="Ismijiet ġeografiċi"/>
			<xs:enumeration value="Unitajiet amministrattivi"/>
			<xs:enumeration value="Indirizzi"/>
			<xs:enumeration value="Pakketti katastali"/>
			<xs:enumeration value="Networks tat-trasport"/>
			<xs:enumeration value="Idrografija"/>
			<xs:enumeration value="Siti protetti"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_mlt">
		<xs:restriction base="keywordValueInspireTheme_mlt">
			<xs:enumeration value="Elevazzjoni"/>
			<xs:enumeration value="Kopertura ta' l-art"/>
			<xs:enumeration value="Orthoimagery"/>
			<xs:enumeration value="Ġeologija"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_mlt">
		<xs:restriction base="keywordValueInspireTheme_mlt">
			<xs:enumeration value="Unitajiet statistiċi"/>
			<xs:enumeration value="Bini"/>
			<xs:enumeration value="Ħamrija"/>
			<xs:enumeration value="Użu ta' l-art"/>
			<xs:enumeration value="Is-saħħa u s-siġurtà tal-bniedem"/>
			<xs:enumeration value="Servizzi ta' utilità u tal-gvern"/>
			<xs:enumeration value="Faċilitajiet ta' monitoraġġ ambjentali"/>
			<xs:enumeration value="Faċilitajiet ta' produzzjoni u industrijali"/>
			<xs:enumeration value="Faċilitajiet agrikoli u ta' l-akwakultura"/>
			<xs:enumeration value="Distribuzzjoni tal-popolazzjoni – demografija"/>
			<xs:enumeration value="Amministrazzjoni ta' żoni/restrizzjoni/żoni regolati u unitajiet ta' rapportar"/>
			<xs:enumeration value="Żoni ta' riskju naturali"/>
			<xs:enumeration value="Kondizzjonijiet atmosferiċi"/>
			<xs:enumeration value="Karatteristiċi ġeografiċi meteoroloġiċi"/>
			<xs:enumeration value="Karatteristiċi ġeografiċi oċeanografiċi"/>
			<xs:enumeration value="Reġjuni tal-baħar"/>
			<xs:enumeration value="Reġjuni bijo-ġeografiċi"/>
			<xs:enumeration value="L-abitati naturali u l-bijotopi"/>
			<xs:enumeration value="Distribuzzjoni ta' l-ispeċi"/>
			<xs:enumeration value="Riżorsi ta' enerġija"/>
			<xs:enumeration value="Riżorsi minerali"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_mlt">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_mlt"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_mlt">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:MT:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_mlt">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Direttiva 2007/2/KE tal-Parlament Ewropew u tal-Kunsill ta' l-14 ta' Marzu 2007 li tistabbilixxi Infrastruttura għall-Informazzjoni Ġeografika fil-Komunità Ewropea (Inspire)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:MT:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_mlt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_mlt">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:MT:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_mlt">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Regolament tal-Kummissjoni (KE) Nru 1205/2008 tat- 3 ta’ Diċembru 2008 li jimplimenta d-Direttiva 2007/2/KE tal-Parlament Ewropew u tal-Kunsill fir-rigward tal-metadejta Test b’relevanza għaż-ŻEE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:MT:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_mlt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_mlt">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:MT:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_mlt">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Regolament tal-Kummissjoni (KE) Nru 976/2009 tad- 19 ta’ Ottubru 2009 li jimplimenta d-Direttiva 2007/2/KE tal-Parlament Ewropew u tal-Kunsill fir-rigward tas-Servizzi ta’ Netwerk"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:MT:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_mlt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_mlt">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:MT:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_mlt">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Regolament tal-Kummissjoni (UE) Nru 1089/2010 tat- 23 ta' Novembru 2010 li jimplimenta d-Direttiva 2007/2/KE tal-Parlament Ewropew u tal-Kunsill fir-rigward tal-interoperabbiltà tas-settijiet ta’ dejta u servizzi ġeografiċi"/>
								<xs:enumeration value="REGOLAMENT TAL-KUMMISSJONI (UE) Nru 1089/2010 tat-23 ta' Novembru 2010 li jimplimenta d-Direttiva 2007/2/KE tal-Parlament Ewropew u tal-Kunsill fir-rigward tal- interoperabbiltà tas-settijiet ta’ dejta u servizzi ġeografiċi"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:MT:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_mlt" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
