ogc-common/src/main/resources/csw/atom/enums/enum_fin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_fin">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Koordinaattijärjestelmät"/>
			<xs:enumeration value="Paikannusruudustot"/>
			<xs:enumeration value="Paikannimet"/>
			<xs:enumeration value="Hallinnolliset yksiköt"/>
			<xs:enumeration value="Osoitteet"/>
			<xs:enumeration value="Kiinteistöt"/>
			<xs:enumeration value="Liikenneverkot"/>
			<xs:enumeration value="Hydrografia"/>
			<xs:enumeration value="Suojellut alueet"/>
			<xs:enumeration value="Korkeus"/>
			<xs:enumeration value="Maanpeite"/>
			<xs:enumeration value="Ortoilmakuvat"/>
			<xs:enumeration value="Geologia"/>
			<xs:enumeration value="Tilastoyksiköt"/>
			<xs:enumeration value="Rakennukset"/>
			<xs:enumeration value="Maaperä"/>
			<xs:enumeration value="Maankäyttö"/>
			<xs:enumeration value="Väestön terveys ja turvallisuus"/>
			<xs:enumeration value="Yleishyödylliset ja muut julkiset palvelut"/>
			<xs:enumeration value="Ympäristön tilan seurantalaitteet"/>
			<xs:enumeration value="Tuotanto- ja teollisuuslaitokset"/>
			<xs:enumeration value="Maatalous- ja vesiviljelylaitokset"/>
			<xs:enumeration value="Väestöjakauma – demografia"/>
			<xs:enumeration value="Aluesuunnittelun, rajoitusten ja sääntelyn piiriin kuuluvat alueet ja raportointiyksiköt"/>
			<xs:enumeration value="Luonnonriskialueet"/>
			<xs:enumeration value="Ilmakehän tila"/>
			<xs:enumeration value="Ilmaston maantieteelliset ominaispiirteet"/>
			<xs:enumeration value="Merentutkimuksen maantieteelliset ominaispiirteet"/>
			<xs:enumeration value="Merialueet"/>
			<xs:enumeration value="Biomaantieteelliset alueet"/>
			<xs:enumeration value="Elinympäristöt ja biotoopit"/>
			<xs:enumeration value="Lajien levinneisyys"/>
			<xs:enumeration value="Energiavarat"/>
			<xs:enumeration value="Mineraalivarat"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_fin">
		<xs:restriction base="keywordValueInspireTheme_fin">
			<xs:enumeration value="Koordinaattijärjestelmät"/>
			<xs:enumeration value="Paikannusruudustot"/>
			<xs:enumeration value="Paikannimet"/>
			<xs:enumeration value="Hallinnolliset yksiköt"/>
			<xs:enumeration value="Osoitteet"/>
			<xs:enumeration value="Kiinteistöt"/>
			<xs:enumeration value="Liikenneverkot"/>
			<xs:enumeration value="Hydrografia"/>
			<xs:enumeration value="Suojellut alueet"/>
			<xs:enumeration value="Korkeus"/>
			<xs:enumeration value="Maanpeite"/>
			<xs:enumeration value="Ortoilmakuvat"/>
			<xs:enumeration value="Geologia"/>
			<xs:enumeration value="Tilastoyksiköt"/>
			<xs:enumeration value="Rakennukset"/>
			<xs:enumeration value="Maaperä"/>
			<xs:enumeration value="Maankäyttö"/>
			<xs:enumeration value="Väestön terveys ja turvallisuus"/>
			<xs:enumeration value="Yleishyödylliset ja muut julkiset palvelut"/>
			<xs:enumeration value="Ympäristön tilan seurantalaitteet"/>
			<xs:enumeration value="Tuotanto- ja teollisuuslaitokset"/>
			<xs:enumeration value="Maatalous- ja vesiviljelylaitokset"/>
			<xs:enumeration value="Väestöjakauma – demografia"/>
			<xs:enumeration value="Aluesuunnittelun, rajoitusten ja sääntelyn piiriin kuuluvat alueet ja raportointiyksiköt"/>
			<xs:enumeration value="Luonnonriskialueet"/>
			<xs:enumeration value="Ilmakehän tila"/>
			<xs:enumeration value="Ilmaston maantieteelliset ominaispiirteet"/>
			<xs:enumeration value="Merentutkimuksen maantieteelliset ominaispiirteet"/>
			<xs:enumeration value="Merialueet"/>
			<xs:enumeration value="Biomaantieteelliset alueet"/>
			<xs:enumeration value="Elinympäristöt ja biotoopit"/>
			<xs:enumeration value="Lajien levinneisyys"/>
			<xs:enumeration value="Energiavarat"/>
			<xs:enumeration value="Mineraalivarat"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_fin">
		<xs:restriction base="keywordValueInspireTheme_fin">
			<xs:enumeration value="Koordinaattijärjestelmät"/>
			<xs:enumeration value="Paikannusruudustot"/>
			<xs:enumeration value="Paikannimet"/>
			<xs:enumeration value="Hallinnolliset yksiköt"/>
			<xs:enumeration value="Osoitteet"/>
			<xs:enumeration value="Kiinteistöt"/>
			<xs:enumeration value="Liikenneverkot"/>
			<xs:enumeration value="Hydrografia"/>
			<xs:enumeration value="Suojellut alueet"/>
			<xs:enumeration value="Korkeus"/>
			<xs:enumeration value="Maanpeite"/>
			<xs:enumeration value="Ortoilmakuvat"/>
			<xs:enumeration value="Geologia"/>
			<xs:enumeration value="Tilastoyksiköt"/>
			<xs:enumeration value="Rakennukset"/>
			<xs:enumeration value="Maaperä"/>
			<xs:enumeration value="Maankäyttö"/>
			<xs:enumeration value="Väestön terveys ja turvallisuus"/>
			<xs:enumeration value="Yleishyödylliset ja muut julkiset palvelut"/>
			<xs:enumeration value="Ympäristön tilan seurantalaitteet"/>
			<xs:enumeration value="Tuotanto- ja teollisuuslaitokset"/>
			<xs:enumeration value="Maatalous- ja vesiviljelylaitokset"/>
			<xs:enumeration value="Väestöjakauma – demografia"/>
			<xs:enumeration value="Aluesuunnittelun, rajoitusten ja sääntelyn piiriin kuuluvat alueet ja raportointiyksiköt"/>
			<xs:enumeration value="Luonnonriskialueet"/>
			<xs:enumeration value="Ilmakehän tila"/>
			<xs:enumeration value="Ilmaston maantieteelliset ominaispiirteet"/>
			<xs:enumeration value="Merentutkimuksen maantieteelliset ominaispiirteet"/>
			<xs:enumeration value="Merialueet"/>
			<xs:enumeration value="Biomaantieteelliset alueet"/>
			<xs:enumeration value="Elinympäristöt ja biotoopit"/>
			<xs:enumeration value="Lajien levinneisyys"/>
			<xs:enumeration value="Energiavarat"/>
			<xs:enumeration value="Mineraalivarat"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_fin">
		<xs:restriction base="keywordValueInspireTheme_fin">
			<xs:enumeration value="Koordinaattijärjestelmät"/>
			<xs:enumeration value="Paikannusruudustot"/>
			<xs:enumeration value="Paikannimet"/>
			<xs:enumeration value="Hallinnolliset yksiköt"/>
			<xs:enumeration value="Osoitteet"/>
			<xs:enumeration value="Kiinteistöt"/>
			<xs:enumeration value="Liikenneverkot"/>
			<xs:enumeration value="Hydrografia"/>
			<xs:enumeration value="Suojellut alueet"/>
			<xs:enumeration value="Korkeus"/>
			<xs:enumeration value="Maanpeite"/>
			<xs:enumeration value="Ortoilmakuvat"/>
			<xs:enumeration value="Geologia"/>
			<xs:enumeration value="Tilastoyksiköt"/>
			<xs:enumeration value="Rakennukset"/>
			<xs:enumeration value="Maaperä"/>
			<xs:enumeration value="Maankäyttö"/>
			<xs:enumeration value="Väestön terveys ja turvallisuus"/>
			<xs:enumeration value="Yleishyödylliset ja muut julkiset palvelut"/>
			<xs:enumeration value="Ympäristön tilan seurantalaitteet"/>
			<xs:enumeration value="Tuotanto- ja teollisuuslaitokset"/>
			<xs:enumeration value="Maatalous- ja vesiviljelylaitokset"/>
			<xs:enumeration value="Väestöjakauma – demografia"/>
			<xs:enumeration value="Aluesuunnittelun, rajoitusten ja sääntelyn piiriin kuuluvat alueet ja raportointiyksiköt"/>
			<xs:enumeration value="Luonnonriskialueet"/>
			<xs:enumeration value="Ilmakehän tila"/>
			<xs:enumeration value="Ilmaston maantieteelliset ominaispiirteet"/>
			<xs:enumeration value="Merentutkimuksen maantieteelliset ominaispiirteet"/>
			<xs:enumeration value="Merialueet"/>
			<xs:enumeration value="Biomaantieteelliset alueet"/>
			<xs:enumeration value="Elinympäristöt ja biotoopit"/>
			<xs:enumeration value="Lajien levinneisyys"/>
			<xs:enumeration value="Energiavarat"/>
			<xs:enumeration value="Mineraalivarat"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_fin">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_fin"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_fin">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:FI:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_fin">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Euroopan parlamentin ja neuvoston direktiivi 2007/2/EY, annettu 14 päivänä maaliskuuta 2007, Euroopan yhteisön paikkatietoinfrastruktuurin (INSPIRE) perustamisesta"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:FI:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_fin" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_fin">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:FI:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_fin">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Komission asetus (EY) N:o 1205/2008, annettu 3 päivänä joulukuuta 2008 , Euroopan parlamentin ja neuvoston direktiivin 2007/2/EY täytäntöönpanosta metatiedon osalta (ETA:n kannalta merkityksellinen teksti)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:FI:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_fin" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_fin">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:FI:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_fin">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Komission asetus (EY) N:o 976/2009, annettu 19 päivänä lokakuuta 2009 , Euroopan parlamentin ja neuvoston direktiivin 2007/2/EY täytäntöönpanosta verkkopalvelujen osalta"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:FI:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_fin" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_fin">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:FI:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_fin">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Komission asetus (EU) N:o 1089/2010, annettu 23 päivänä marraskuuta 2010 , Euroopan parlamentin ja neuvoston direktiivin 2007/2/EY täytäntöönpanosta paikkatietoaineistojen ja -palvelujen yhteentoimivuuden osalta"/>
								<xs:enumeration value="KOMISSION ASETUS (EU) N:o 1089/2010, annettu 23 päivänä marraskuuta 2010, Euroopan parlamentin ja neuvoston direktiivin 2007/2/EY täytäntöönpanosta paikkatietoaineistojen ja -palvelujen yhteentoimivuuden osalta"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:FI:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_fin" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
