ogc-common/src/main/resources/csw/atom/enums/enum_est.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_est">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Koordinaatsüsteemid"/>
			<xs:enumeration value="Geograafilised ruutvõrgud"/>
			<xs:enumeration value="Geograafilised nimed"/>
			<xs:enumeration value="Haldusüksused"/>
			<xs:enumeration value="Aadressid"/>
			<xs:enumeration value="Katastriüksused"/>
			<xs:enumeration value="Transpordivõrgud"/>
			<xs:enumeration value="Hüdrograafia"/>
			<xs:enumeration value="Kaitsealused kohad"/>
			<xs:enumeration value="Kõrgused"/>
			<xs:enumeration value="Maakate"/>
			<xs:enumeration value="Ortokujutised"/>
			<xs:enumeration value="Geoloogia"/>
			<xs:enumeration value="Statistilised üksused"/>
			<xs:enumeration value="Ehitised"/>
			<xs:enumeration value="Pinnas"/>
			<xs:enumeration value="Maakasutus"/>
			<xs:enumeration value="Inimeste tervis ja ohutus"/>
			<xs:enumeration value="Kommunaal- ja riiklikud teenused"/>
			<xs:enumeration value="Keskkonnaseirerajatised"/>
			<xs:enumeration value="Tootmis- ja tööstusrajatised"/>
			<xs:enumeration value="Põllumajandus- ja vesiviljelusrajatised"/>
			<xs:enumeration value="Elanikkonna jaotumine – demograafia"/>
			<xs:enumeration value="Üldplaneering/piirangu-/reguleeritud tsoonid ja aruandlusüksused"/>
			<xs:enumeration value="Looduslikud ohutsoonid"/>
			<xs:enumeration value="Atmosfääritingimused"/>
			<xs:enumeration value="Meteoroloogilis-geograafilised tunnusjooned"/>
			<xs:enumeration value="Okeanograafilis-geograafilised tunnusjooned"/>
			<xs:enumeration value="Merepiirkonnad"/>
			<xs:enumeration value="Bio-geograafilised piirkonnad"/>
			<xs:enumeration value="Elupaigad ja biotoobid"/>
			<xs:enumeration value="Liikide jaotumine"/>
			<xs:enumeration value="Energiaressursid"/>
			<xs:enumeration value="Maavarad"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_est">
		<xs:restriction base="keywordValueInspireTheme_est">
			<xs:enumeration value="Geograafilised ruutvõrgud"/>
			<xs:enumeration value="Geograafilised nimed"/>
			<xs:enumeration value="Haldusüksused"/>
			<xs:enumeration value="Aadressid"/>
			<xs:enumeration value="Katastriüksused"/>
			<xs:enumeration value="Transpordivõrgud"/>
			<xs:enumeration value="Hüdrograafia"/>
			<xs:enumeration value="Kaitsealused kohad"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_est">
		<xs:restriction base="keywordValueInspireTheme_est">
			<xs:enumeration value="Kõrgused"/>
			<xs:enumeration value="Maakate"/>
			<xs:enumeration value="Ortokujutised"/>
			<xs:enumeration value="Geoloogia"/>
			<xs:enumeration value="Statistilised üksused"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_est">
		<xs:restriction base="keywordValueInspireTheme_est">
			<xs:enumeration value="Ehitised"/>
			<xs:enumeration value="Pinnas"/>
			<xs:enumeration value="Maakasutus"/>
			<xs:enumeration value="Inimeste tervis ja ohutus"/>
			<xs:enumeration value="Kommunaal- ja riiklikud teenused"/>
			<xs:enumeration value="Keskkonnaseirerajatised"/>
			<xs:enumeration value="Tootmis- ja tööstusrajatised"/>
			<xs:enumeration value="Põllumajandus- ja vesiviljelusrajatised"/>
			<xs:enumeration value="Elanikkonna jaotumine – demograafia"/>
			<xs:enumeration value="Üldplaneering/piirangu-/reguleeritud tsoonid ja aruandlusüksused"/>
			<xs:enumeration value="Looduslikud ohutsoonid"/>
			<xs:enumeration value="Atmosfääritingimused"/>
			<xs:enumeration value="Meteoroloogilis-geograafilised tunnusjooned"/>
			<xs:enumeration value="Okeanograafilis-geograafilised tunnusjooned"/>
			<xs:enumeration value="Merepiirkonnad"/>
			<xs:enumeration value="Bio-geograafilised piirkonnad"/>
			<xs:enumeration value="Elupaigad ja biotoobid"/>
			<xs:enumeration value="Liikide jaotumine"/>
			<xs:enumeration value="Energiaressursid"/>
			<xs:enumeration value="Maavarad"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_est">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_est"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_est">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:ET:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_est">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Euroopa Parlamendi ja nõukogu direktiiv 2007/2/EÜ, 14. märts 2007, millega rajatakse Euroopa Ühenduse ruumiandmete infrastruktuur (INSPIRE)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:ET:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_est" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_est">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:ET:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_est">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Komisjoni määrus (EÜ) nr 1205/2008, 3. detsember 2008 , millega rakendatakse Euroopa Parlamendi ja nõukogu direktiivi 2007/2/EÜ seoses metaandmetega (EMPs kohaldatav tekst)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:ET:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_est" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_est">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:ET:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_est">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Komisjoni määrus (EÜ) nr 976/2009, 19. oktoober 2009 , millega rakendatakse Euroopa Parlamendi ja nõukogu direktiivi 2007/2/EÜ seoses võrguteenustega"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:ET:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_est" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_est">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:ET:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_est">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Komisjoni määrus (EL) nr 1089/2010, 23. november 2010 , millega rakendatakse Euroopa Parlamendi ja nõukogu direktiivi 2007/2/EÜ seoses ruumiandmekogumite ja -teenuste ristkasutatavusega"/>
								<xs:enumeration value="KOMISJONI MÄÄRUS (EL) nr 1089/2010, 23. november 2010, millega rakendatakse Euroopa Parlamendi ja nõukogu direktiivi 2007/2/EÜ seoses ruumiandmekogumite ja -teenuste ristkasutatavusega"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:ET:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_est" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
