src/main/resources/csw/atom/enums/enum_slo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_slo">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Súradnicové referenčné systémy"/>
			<xs:enumeration value="Geografické systémy sietí"/>
			<xs:enumeration value="Zemepisné názvy"/>
			<xs:enumeration value="Správne jednotky"/>
			<xs:enumeration value="Adresy"/>
			<xs:enumeration value="Katastrálne parcely"/>
			<xs:enumeration value="Dopravné siete"/>
			<xs:enumeration value="Hydrografia"/>
			<xs:enumeration value="Chránené územia"/>
			<xs:enumeration value="Výška"/>
			<xs:enumeration value="Krajinná pokrývka (land cover)"/>
			<xs:enumeration value="Ortometria"/>
			<xs:enumeration value="Geológia"/>
			<xs:enumeration value="Štatistické jednotky"/>
			<xs:enumeration value="Stavby"/>
			<xs:enumeration value="Pôda"/>
			<xs:enumeration value="Využitie územia"/>
			<xs:enumeration value="Ľudské zdravie a bezpečnosť"/>
			<xs:enumeration value="Verejné a štátne služby"/>
			<xs:enumeration value="Zariadenia na monitorovanie životného prostredia"/>
			<xs:enumeration value="Výrobné a priemyselné zariadenia"/>
			<xs:enumeration value="Poľnohospodárske zariadenia a zariadenia akvakultúry"/>
			<xs:enumeration value="Rozmiestnenie obyvateľstva – demografia"/>
			<xs:enumeration value="Spravované/obmedzené/regulované zóny a jednotky podávajúce správy"/>
			<xs:enumeration value="Zóny prírodného rizika"/>
			<xs:enumeration value="Atmosférické podmienky"/>
			<xs:enumeration value="Meteorologické geografické prvky"/>
			<xs:enumeration value="Oceánografické geografické prvky"/>
			<xs:enumeration value="Morské regióny"/>
			<xs:enumeration value="Biogeografické regióny"/>
			<xs:enumeration value="Habitaty a biotopy"/>
			<xs:enumeration value="Výskyt druhov"/>
			<xs:enumeration value="Zdroje energie"/>
			<xs:enumeration value="Zdroje nerastných surovín"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_slo">
		<xs:restriction base="keywordValueInspireTheme_slo">
			<xs:enumeration value="Súradnicové referenčné systémy"/>
			<xs:enumeration value="Geografické systémy sietí"/>
			<xs:enumeration value="Zemepisné názvy"/>
			<xs:enumeration value="Správne jednotky"/>
			<xs:enumeration value="Adresy"/>
			<xs:enumeration value="Katastrálne parcely"/>
			<xs:enumeration value="Dopravné siete"/>
			<xs:enumeration value="Hydrografia"/>
			<xs:enumeration value="Chránené územia"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_slo">
		<xs:restriction base="keywordValueInspireTheme_slo">
			<xs:enumeration value="Výška"/>
			<xs:enumeration value="Krajinná pokrývka (land cover)"/>
			<xs:enumeration value="Ortometria"/>
			<xs:enumeration value="Geológia"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_slo">
		<xs:restriction base="keywordValueInspireTheme_slo">
			<xs:enumeration value="Štatistické jednotky"/>
			<xs:enumeration value="Stavby"/>
			<xs:enumeration value="Pôda"/>
			<xs:enumeration value="Využitie územia"/>
			<xs:enumeration value="Ľudské zdravie a bezpečnosť"/>
			<xs:enumeration value="Verejné a štátne služby"/>
			<xs:enumeration value="Zariadenia na monitorovanie životného prostredia"/>
			<xs:enumeration value="Výrobné a priemyselné zariadenia"/>
			<xs:enumeration value="Poľnohospodárske zariadenia a zariadenia akvakultúry"/>
			<xs:enumeration value="Rozmiestnenie obyvateľstva – demografia"/>
			<xs:enumeration value="Spravované/obmedzené/regulované zóny a jednotky podávajúce správy"/>
			<xs:enumeration value="Zóny prírodného rizika"/>
			<xs:enumeration value="Atmosférické podmienky"/>
			<xs:enumeration value="Meteorologické geografické prvky"/>
			<xs:enumeration value="Oceánografické geografické prvky"/>
			<xs:enumeration value="Morské regióny"/>
			<xs:enumeration value="Biogeografické regióny"/>
			<xs:enumeration value="Habitaty a biotopy"/>
			<xs:enumeration value="Výskyt druhov"/>
			<xs:enumeration value="Zdroje energie"/>
			<xs:enumeration value="Zdroje nerastných surovín"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_slo">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_slo"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_slo">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:SK:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_slo">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Smernica Európskeho parlamentu a Rady 2007/2/ES zo 14. marca 2007, ktorou sa zriaďuje Infraštruktúra pre priestorové informácie v Európskom spoločenstve (Inspire)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:SK:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_slo" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_slo">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:SK:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_slo">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Nariadenie Komisie (ES) č. 1205/2008 z 3. decembra 2008 , ktorým sa vykonáva smernica Európskeho parlamentu a Rady 2007/2/ES, pokiaľ ide o metaúdaje (Text s významom pre EHP)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:SK:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_slo" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_slo">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:SK:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_slo">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Nariadenie Komisie (ES) č. 976/2009 z  19. októbra 2009 , ktorým sa vykonáva smernica Európskeho parlamentu a Rady 2007/2/ES, pokiaľ ide o sieťové služby"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:SK:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_slo" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_slo">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:SK:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_slo">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Nariadenie Komisie (EÚ) č. 1089/2010 z 23. novembra 2010 , ktorým sa vykonáva smernica Európskeho parlamentu a Rady 2007/2/ES, pokiaľ ide o interoperabilitu súborov a služieb priestorových údajov"/>
								<xs:enumeration value="NARIADENIE KOMISIE (EÚ) č. 1089/2010 z 23. novembra 2010, ktorým sa vykonáva smernica Európskeho parlamentu a Rady 2007/2/ES, pokiaľ ide o interoperabilitu súborov a služieb priestorových údajov"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:SK:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_slo" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
