src/main/resources/csw/atom/enums/enum_fre.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_fre">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Référentiels de coordonnées"/>
			<xs:enumeration value="Systèmes de maillage géographique"/>
			<xs:enumeration value="Dénominations géographiques"/>
			<xs:enumeration value="Unités administratives"/>
			<xs:enumeration value="Adresses"/>
			<xs:enumeration value="Parcelles cadastrales"/>
			<xs:enumeration value="Réseaux de transport"/>
			<xs:enumeration value="Hydrographie"/>
			<xs:enumeration value="Sites protégés"/>
			<xs:enumeration value="Altitude"/>
			<xs:enumeration value="Occupation des terres"/>
			<xs:enumeration value="Ortho-imagerie"/>
			<xs:enumeration value="Géologie"/>
			<xs:enumeration value="Unités statistiques"/>
			<xs:enumeration value="Bâtiments"/>
			<xs:enumeration value="Sols"/>
			<xs:enumeration value="Usage des sols"/>
			<xs:enumeration value="Santé et sécurité des personnes"/>
			<xs:enumeration value="Services d'utilité publique et services publics"/>
			<xs:enumeration value="Installations de suivi environnemental"/>
			<xs:enumeration value="Lieux de production et sites industriels"/>
			<xs:enumeration value="Installations agricoles et aquacoles"/>
			<xs:enumeration value="Répartition de la population — démographie"/>
			<xs:enumeration value="Zones de gestion, de restriction ou de réglementation et unités de déclaration"/>
			<xs:enumeration value="Zones à risque naturel"/>
			<xs:enumeration value="Conditions atmosphériques"/>
			<xs:enumeration value="Caractéristiques géographiques météorologiques"/>
			<xs:enumeration value="Caractéristiques géographiques océanographiques"/>
			<xs:enumeration value="Régions maritimes"/>
			<xs:enumeration value="Habitats et biotopes"/>
			<xs:enumeration value="Régions biogéographiques"/>
			<xs:enumeration value="Répartition des espèces"/>
			<xs:enumeration value="Sources d'énergie"/>
			<xs:enumeration value="Ressources minérales"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_fre">
		<xs:restriction base="keywordValueInspireTheme_fre">
			<xs:enumeration value="Référentiels de coordonnées"/>
			<xs:enumeration value="Systèmes de maillage géographique"/>
			<xs:enumeration value="Dénominations géographiques"/>
			<xs:enumeration value="Unités administratives"/>
			<xs:enumeration value="Adresses"/>
			<xs:enumeration value="Parcelles cadastrales"/>
			<xs:enumeration value="Réseaux de transport"/>
			<xs:enumeration value="Hydrographie"/>
			<xs:enumeration value="Sites protégés"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_fre">
		<xs:restriction base="keywordValueInspireTheme_fre">
			<xs:enumeration value="Altitude"/>
			<xs:enumeration value="Occupation des terres"/>
			<xs:enumeration value="Ortho-imagerie"/>
			<xs:enumeration value="Géologie"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_fre">
		<xs:restriction base="keywordValueInspireTheme_fre">
			<xs:enumeration value="Unités statistiques"/>
			<xs:enumeration value="Bâtiments"/>
			<xs:enumeration value="Sols"/>
			<xs:enumeration value="Usage des sols"/>
			<xs:enumeration value="Santé et sécurité des personnes"/>
			<xs:enumeration value="Services d'utilité publique et services publics"/>
			<xs:enumeration value="Installations de suivi environnemental"/>
			<xs:enumeration value="Lieux de production et sites industriels"/>
			<xs:enumeration value="Installations agricoles et aquacoles"/>
			<xs:enumeration value="Répartition de la population — démographie"/>
			<xs:enumeration value="Zones de gestion, de restriction ou de réglementation et unités de déclaration"/>
			<xs:enumeration value="Zones à risque naturel"/>
			<xs:enumeration value="Conditions atmosphériques"/>
			<xs:enumeration value="Caractéristiques géographiques météorologiques"/>
			<xs:enumeration value="Caractéristiques géographiques océanographiques"/>
			<xs:enumeration value="Régions maritimes"/>
			<xs:enumeration value="Habitats et biotopes"/>
			<xs:enumeration value="Régions biogéographiques"/>
			<xs:enumeration value="Répartition des espèces"/>
			<xs:enumeration value="Sources d'énergie"/>
			<xs:enumeration value="Ressources minérales"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_fre">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_fre"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_fre">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:FR:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_fre">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Directive 2007/2/CE du Parlement européen et du Conseil du 14 mars 2007 établissant une infrastructure d'information géographique dans la Communauté européenne (INSPIRE)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:FR:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_fre" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_fre">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:FR:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_fre">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Règlement (CE) n o 1205/2008 de la Commission du 3 décembre 2008 portant modalités d'application de la directive 2007/2/CE du Parlement européen et du Conseil en ce qui concerne les métadonnées (Texte présentant de l'intérêt pour l'EEE)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:FR:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_fre" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_fre">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:FR:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_fre">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Règlement (CE) n o  976/2009 de la Commission du 19 octobre 2009 portant modalités d’application de la directive 2007/2/CE du Parlement européen et du Conseil en ce qui concerne les services en réseau"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:FR:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_fre" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_fre">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:FR:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_fre">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Règlement (UE) n o 1089/2010 de la Commission du 23 novembre 2010 portant modalités d'application de la directive 2007/2/CE du Parlement européen et du Conseil en ce qui concerne l'interopérabilité des séries et des services de données géographiques"/>
								<xs:enumeration value="RÈGLEMENT (UE) N o 1089/2010 DE LA COMMISSION du 23 novembre 2010 portant modalités d'application de la directive 2007/2/CE du Parlement européen et du Conseil en ce qui concerne l'interopérabilité des séries et des services de données géographiques"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:FR:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_fre" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
