src/main/resources/csw/atom/enums/enum_ger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_ger">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Koordinatenreferenzsysteme"/>
			<xs:enumeration value="Geografische Gittersysteme"/>
			<xs:enumeration value="Geografische Bezeichnungen"/>
			<xs:enumeration value="Verwaltungseinheiten"/>
			<xs:enumeration value="Adressen"/>
			<xs:enumeration value="Flurstücke/Grundstücke (Katasterparzellen)"/>
			<xs:enumeration value="Verkehrsnetze"/>
			<xs:enumeration value="Gewässernetz"/>
			<xs:enumeration value="Schutzgebiete"/>
			<xs:enumeration value="Höhe"/>
			<xs:enumeration value="Bodenbedeckung"/>
			<xs:enumeration value="Orthofotografie"/>
			<xs:enumeration value="Geologie"/>
			<xs:enumeration value="Statistische Einheiten"/>
			<xs:enumeration value="Gebäude"/>
			<xs:enumeration value="Boden"/>
			<xs:enumeration value="Bodennutzung"/>
			<xs:enumeration value="Gesundheit und Sicherheit"/>
			<xs:enumeration value="Versorgungswirtschaft und staatliche Dienste"/>
			<xs:enumeration value="Umweltüberwachung"/>
			<xs:enumeration value="Produktions- und Industrieanlagen"/>
			<xs:enumeration value="Landwirtschaftliche Anlagen und Aquakulturanlagen"/>
			<xs:enumeration value="Verteilung der Bevölkerung — Demografie"/>
			<xs:enumeration value="Bewirtschaftungsgebiete/Schutzgebiete/geregelte Gebiete und Berichterstattungseinheiten"/>
			<xs:enumeration value="Gebiete mit naturbedingten Risiken"/>
			<xs:enumeration value="Atmosphärische Bedingungen"/>
			<xs:enumeration value="Meteorologisch-geografische Kennwerte"/>
			<xs:enumeration value="Ozeanografisch-geografische Kennwerte"/>
			<xs:enumeration value="Meeresregionen"/>
			<xs:enumeration value="Biogeografische Regionen"/>
			<xs:enumeration value="Lebensräume und Biotope"/>
			<xs:enumeration value="Verteilung der Arten"/>
			<xs:enumeration value="Energiequellen"/>
			<xs:enumeration value="Mineralische Bodenschätze"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_ger">
		<xs:restriction base="keywordValueInspireTheme_ger">
			<xs:enumeration value="Koordinatenreferenzsysteme"/>
			<xs:enumeration value="Geografische Gittersysteme"/>
			<xs:enumeration value="Geografische Bezeichnungen"/>
			<xs:enumeration value="Verwaltungseinheiten"/>
			<xs:enumeration value="Adressen"/>
			<xs:enumeration value="Flurstücke/Grundstücke (Katasterparzellen)"/>
			<xs:enumeration value="Verkehrsnetze"/>
			<xs:enumeration value="Gewässernetz"/>
			<xs:enumeration value="Schutzgebiete"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_ger">
		<xs:restriction base="keywordValueInspireTheme_ger">
			<xs:enumeration value="Höhe"/>
			<xs:enumeration value="Bodenbedeckung"/>
			<xs:enumeration value="Orthofotografie"/>
			<xs:enumeration value="Geologie"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_ger">
		<xs:restriction base="keywordValueInspireTheme_ger">
			<xs:enumeration value="Statistische Einheiten"/>
			<xs:enumeration value="Gebäude"/>
			<xs:enumeration value="Boden"/>
			<xs:enumeration value="Bodennutzung"/>
			<xs:enumeration value="Gesundheit und Sicherheit"/>
			<xs:enumeration value="Versorgungswirtschaft und staatliche Dienste"/>
			<xs:enumeration value="Umweltüberwachung"/>
			<xs:enumeration value="Produktions- und Industrieanlagen"/>
			<xs:enumeration value="Landwirtschaftliche Anlagen und Aquakulturanlagen"/>
			<xs:enumeration value="Verteilung der Bevölkerung — Demografie"/>
			<xs:enumeration value="Bewirtschaftungsgebiete/Schutzgebiete/geregelte Gebiete und Berichterstattungseinheiten"/>
			<xs:enumeration value="Gebiete mit naturbedingten Risiken"/>
			<xs:enumeration value="Atmosphärische Bedingungen"/>
			<xs:enumeration value="Meteorologisch-geografische Kennwerte"/>
			<xs:enumeration value="Ozeanografisch-geografische Kennwerte"/>
			<xs:enumeration value="Meeresregionen"/>
			<xs:enumeration value="Biogeografische Regionen"/>
			<xs:enumeration value="Lebensräume und Biotope"/>
			<xs:enumeration value="Verteilung der Arten"/>
			<xs:enumeration value="Energiequellen"/>
			<xs:enumeration value="Mineralische Bodenschätze"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_ger">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_ger"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_ger">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:DE:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_ger">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Richtlinie 2007/2/EG des Europäischen Parlaments und des Rates vom 14. März 2007 zur Schaffung einer Geodateninfrastruktur in der Europäischen Gemeinschaft (INSPIRE)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:DE:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_ger" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_ger">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:DE:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_ger">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Verordnung (EG) Nr. 1205/2008 der Kommission vom 3. Dezember 2008 zur Durchführung der Richtlinie 2007/2/EG des Europäischen Parlaments und des Rates hinsichtlich Metadaten (Text von Bedeutung für den EWR)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:DE:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_ger" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_ger">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:DE:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_ger">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Verordnung (EG) Nr. 976/2009 der Kommission vom 19. Oktober 2009 zur Durchführung der Richtlinie 2007/2/EG des Europäischen Parlaments und des Rates hinsichtlich der Netzdienste"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:DE:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_ger" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_ger">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:DE:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_ger">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Verordnung (EG) Nr. 1089/2010 der Kommission vom 23. November 2010 zur Durchführung der Richtlinie 2007/2/EG des Europäischen Parlaments und des Rates hinsichtlich der Interoperabilität von Geodatensätzen und -diensten"/>
								<xs:enumeration value="VERORDNUNG (EG) Nr. 1089/2010 DER KOMMISSION vom 23. November 2010 zur Durchführung der Richtlinie 2007/2/EG des Europäischen Parlaments und des Rates hinsichtlich der Interoperabilität von Geodatensätzen und -diensten"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:DE:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_ger" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
