src/main/resources/csw/atom/enums/enum_slv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2014 EUROPEAN UNION Licensed under the EUPL,
Version 1.1  or - as soon they will be approved by the European Commission -
subsequent versions of the EUPL (the "Licence"); You may not use this work
except in compliance with the Licence. You may obtain a copy of the Licence
at:

http://ec.europa.eu/idabc/eupl

Unless required by applicable law or agreed to in writing, software
distributed under the Licence is distributed on an "AS IS" basis, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
Licence for the specific language governing permissions and limitations under
the Licence.

Date: 12-03-2014
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://inspire.ec.europa.eu/schemas/common/1.0" targetNamespace="http://inspire.ec.europa.eu/schemas/common/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0.1">
	<xs:simpleType name="keywordValueInspireTheme_slv">
		<xs:restriction base="keywordValueInspireTheme">
			<xs:enumeration value="Referenčni koordinatni sistemi"/>
			<xs:enumeration value="Geografska koordinatna mreža"/>
			<xs:enumeration value="Zemljepisna imena"/>
			<xs:enumeration value="Upravne enote"/>
			<xs:enumeration value="Naslovi"/>
			<xs:enumeration value="Katastrske parcele"/>
			<xs:enumeration value="Prometna omrežja"/>
			<xs:enumeration value="Hidrografija"/>
			<xs:enumeration value="Zavarovana območja"/>
			<xs:enumeration value="Digitalni model višin"/>
			<xs:enumeration value="Pokrovnost tal"/>
			<xs:enumeration value="Ortofoto"/>
			<xs:enumeration value="Geologija"/>
			<xs:enumeration value="Statistični okoliši"/>
			<xs:enumeration value="Stavbe"/>
			<xs:enumeration value="Tla"/>
			<xs:enumeration value="Namenska raba tal"/>
			<xs:enumeration value="Zdravje in varnost prebivalstva"/>
			<xs:enumeration value="Komunalne in javne storitve"/>
			<xs:enumeration value="Naprave in objekti za monitoring okolja"/>
			<xs:enumeration value="Proizvodni in industrijski objekti in naprave"/>
			<xs:enumeration value="Objekti in naprave za kmetijstvo in ribogojstvo"/>
			<xs:enumeration value="Porazdelitev prebivalstva – demografski podatki"/>
			<xs:enumeration value="Območja upravljanja/zaprta območja/regulirana območja in poročevalske enote"/>
			<xs:enumeration value="Območja nevarnosti naravnih nesreč"/>
			<xs:enumeration value="Ozračje"/>
			<xs:enumeration value="Meteorološke značilnosti"/>
			<xs:enumeration value="Oceanogeografske značilnosti"/>
			<xs:enumeration value="Morske regije"/>
			<xs:enumeration value="Biogeografske regije"/>
			<xs:enumeration value="Habitati in biotopi"/>
			<xs:enumeration value="Porazdelitev vrst"/>
			<xs:enumeration value="Energetski viri"/>
			<xs:enumeration value="Mineralni viri"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexI_slv">
		<xs:restriction base="keywordValueInspireTheme_slv">
			<xs:enumeration value="Referenčni koordinatni sistemi"/>
			<xs:enumeration value="Geografska koordinatna mreža"/>
			<xs:enumeration value="Zemljepisna imena"/>
			<xs:enumeration value="Upravne enote"/>
			<xs:enumeration value="Naslovi"/>
			<xs:enumeration value="Katastrske parcele"/>
			<xs:enumeration value="Prometna omrežja"/>
			<xs:enumeration value="Hidrografija"/>
			<xs:enumeration value="Zavarovana območja"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexII_slv">
		<xs:restriction base="keywordValueInspireTheme_slv">
			<xs:enumeration value="Digitalni model višin"/>
			<xs:enumeration value="Pokrovnost tal"/>
			<xs:enumeration value="Ortofoto"/>
			<xs:enumeration value="Geologija"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="keywordValueInspireThemeAnnexIII_slv">
		<xs:restriction base="keywordValueInspireTheme_slv">
			<xs:enumeration value="Statistični okoliši"/>
			<xs:enumeration value="Stavbe"/>
			<xs:enumeration value="Tla"/>
			<xs:enumeration value="Namenska raba tal"/>
			<xs:enumeration value="Zdravje in varnost prebivalstva"/>
			<xs:enumeration value="Komunalne in javne storitve"/>
			<xs:enumeration value="Naprave in objekti za monitoring okolja"/>
			<xs:enumeration value="Proizvodni in industrijski objekti in naprave"/>
			<xs:enumeration value="Objekti in naprave za kmetijstvo in ribogojstvo"/>
			<xs:enumeration value="Porazdelitev prebivalstva – demografski podatki"/>
			<xs:enumeration value="Območja upravljanja/zaprta območja/regulirana območja in poročevalske enote"/>
			<xs:enumeration value="Območja nevarnosti naravnih nesreč"/>
			<xs:enumeration value="Ozračje"/>
			<xs:enumeration value="Meteorološke značilnosti"/>
			<xs:enumeration value="Oceanogeografske značilnosti"/>
			<xs:enumeration value="Morske regije"/>
			<xs:enumeration value="Biogeografske regije"/>
			<xs:enumeration value="Habitati in biotopi"/>
			<xs:enumeration value="Porazdelitev vrst"/>
			<xs:enumeration value="Energetski viri"/>
			<xs:enumeration value="Mineralni viri"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="inspireTheme_slv">
		<xs:complexContent>
			<xs:restriction base="inspireTheme">
				<xs:sequence>
					<xs:element name="OriginatingControlledVocabulary" type="originatingControlledVocabularyGemetInspireThemes"/>
					<xs:element name="KeywordValue" type="keywordValueInspireTheme_slv"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireDirective_slv">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/JOHtml.do?uri=OJ:L:2007:108:SOM:SL:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireDirective_slv">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Direktiva 2007/2/ES Evropskega parlamenta in Sveta z dne 14. marca 2007 o vzpostavitvi infrastrukture za prostorske informacije v Evropski skupnosti (INSPIRE)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2007-04-25"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2007:108:SOM:SL:HTML"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireDirective_slv" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireMDRegulation_slv">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32008R1205:SL:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireMDRegulation_slv">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Uredba Komisije (ES) št. 1205/2008 z dne 3. decembra 2008 o izvajanju Direktive 2007/2/ES Evropskega parlamenta in Sveta glede metapodatkov (Besedilo velja za EGP)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2008-12-03"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32008R1205:SL:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireMDRegulation_slv" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="resLocInspireNSRegulation_slv">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32009R0976:SL:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="text/html"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireNSRegulation_slv">
		<xs:complexContent>
			<xs:restriction base="citation">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Uredba Komisije (ES) št. 976/2009 z dne 19. oktobra 2009 o izvajanju Direktive 2007/2/ES Evropskega parlamenta in Sveta glede omrežnih storitev"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2009-10-19"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="CELEX:32009R0976:SL:NOT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireNSRegulation_slv" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--Interoperability-->
	<xs:complexType name="resLocInspireInteroperabilityRegulation_slv">
		<xs:complexContent>
			<xs:restriction base="resourceLocatorType">
				<xs:sequence>
					<xs:element name="URL">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:323:0011:0102:SL:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="MediaType">
						<xs:simpleType>
							<xs:restriction base="mediaType">
								<xs:enumeration value="application/pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="citationInspireInteroperabilityRegulation_slv">
		<xs:complexContent>
			<xs:restriction base="citationConformity">
				<xs:sequence>
					<xs:element name="Title">
						<xs:simpleType>
							<xs:restriction base="notEmptyString">
								<xs:enumeration value="Uredba Komisije (EU) št. 1089/2010 z dne 23. novembra 2010 o izvajanju Direktive 2007/2/ES Evropskega parlamenta in Sveta glede medopravilnosti zbirk prostorskih podatkov in storitev v zvezi s prostorskimi podatki"/>
								<xs:enumeration value="UREDBA KOMISIJE (EU) št. 1089/2010 z dne 23. novembra 2010 o izvajanju Direktive 2007/2/ES Evropskega parlamenta in Sveta glede medopravilnosti zbirk prostorskih podatkov in storitev v zvezi s prostorskimi podatki"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:choice>
						<xs:element name="DateOfPublication">
							<xs:simpleType>
								<xs:restriction base="iso8601Date">
									<xs:enumeration value="2010-12-08"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
					<xs:element name="URI" minOccurs="1" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="urlType">
								<xs:enumeration value="OJ:L:2010:323:0011:0102:SL:PDF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="ResourceLocator" type="resLocInspireInteroperabilityRegulation_slv" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
